* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #3a98b9;
}

.mainHeading {
  background: #e8d5c4;
}

.mainContainer {
  background: #fff;
}

.heading {
  text-align: center;
  font-size: xx-large;
  color: #0e86b2;
}

.subContainer {
  width: 415px;
  color: #3a98b9;
}

.subHeading {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 15px 10px;
  background-color: #fff1dc;
}

.subHeadingText {
  color: #308fb1;
}

.formHead {
  padding: 15px 10px;
  background-color: #fff1dc;
}

.taskInput {
  width: 89%;
  padding: 10px;
}

.toDoList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #fff1dc;
}

.listItem {
  width: 96%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.footer {
  padding: 15px 10px;
  text-align: center;
  background: #e8d5c4;
}

.clearList {
  background: transparent;
  border: none;
  color: #3a98b9;
  font-size: large;
  cursor: pointer;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.toDoText {
  background: none;
  border: none;
  margin-left: 8px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.recycle_icon:hover {
  transform: scale(1.2);
  transition: 0.2s;
  animation: rotation 0.4s linear;
}
